.van-dialog__confirm,
.van-dialog__confirm:active {
    color:$text-color;
}

.van-toast {
    width: fit-content;
    min-width:180px;
    .van-toast__text {
        max-width: 100%;
        max-height: 400px;
        overflow: auto;
    }
}
